<% include header.ejs %>

<div id="chart1">
    <div id="label1">
        User Pool
    </div>
    <div id="label2">
        <h4>
            Fashion Purchase Intent
        </h4>
        Intending to purchase
    </div>
    <div id="label3">
        Ready to purchase (onsite)
    </div>
    <div id="label4">
        <h4>
            Vehicle Purchase Intent
        </h4>
        Intending to purchase
    </div>
    <div id="label5">
        Ready to purchase (onsite)
    </div>
</div>

<script type="text/javascript" src="/js/home.controller.js"></script>

<% include footer.ejs %>